@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--bs-primary-rgb: #4C8BF5;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.navbar-toggler{
	border:none !important;
}

.navbar-toggler-icon{
	color:white;
	fill:white
}

.fancy-font{
	font-family: 'Playfair Display', serif;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.nav-link{
	color: white !important;
}


.nav-link.active{
	text-decoration: underline;
	font-weight: bold;
}