@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--bs-primary-rgb: #f5ba4c;
}


.navbar-toggler{
	border:none !important;
}

.navbar-toggler-icon{
	color:white;
	fill:white
}

.fancy-font{
	font-family: 'Playfair Display', serif;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.navbar .nav-link:not(.dropdown-toggle)::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: yellow;
	transition: width .3s;
}

.navbar .nav-link:not(.dropdown-toggle):hover::after{
	width: 100%;
}

/* active nav link */
.navbar .nav-link:not(.dropdown-toggle).active::after{
	width: 100%;
}
