@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero{
    height: 100vh;
    padding-top: 80px;
    width: 100%;
    position: relative;
}

.hero_label{
    color: white;
    font-weight: 500;

}

.hero_text{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 72px;
}
